<div class="max-w-md mx-auto card">

  <h2 class="text-2xl font-semibold mb-4 text-center">
    Login to CodingClash
  </h2>

  <!-- ANGULAR REACTIVE FORM -->
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="space-y-4">

    <!-- EMAIL -->
    <input
      class="input"
      type="email"
      placeholder="Email"
      formControlName="email" />

    <!-- PASSWORD -->
    <input
      class="input"
      type="password"
      placeholder="Password"
      formControlName="password" />

    <!-- ERROR -->
    <p *ngIf="error" class="text-red-400 text-sm">
      {{ error }}
    </p>

    <!-- BUTTON -->
    <button
      class="btn-primary w-full"
      type="submit"
      [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>
  </form>

  <p class="text-sm text-center mt-4 text-gray-400">
    Don’t have an account?
    <a routerLink="/auth/register" class="text-primary">
      Register
    </a>
  </p>

</div>
