<div class="max-w-md mx-auto card">
  <h2 class="text-2xl font-semibold mb-4 text-center">Register</h2>

  
    <form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  class="space-y-4"
>

  <input
    type="text"
    placeholder="Name"
    formControlName="name"
    class="input"
  />

  <input
    type="email"
    placeholder="Email"
    formControlName="email"
    class="input"
  />

  <input
    type="password"
    placeholder="Password"
    formControlName="password"
    class="input"
  />

  <!-- ⚠️ IMPORTANT -->
  <button
    type="submit"
    class="btn-primary w-full"
  >
    Create Account
  </button>

</form>




  <p class="text-sm text-center mt-4 text-gray-400">
    Already have an account?
    <a routerLink="/auth/login" class="text-primary">Login</a>
  </p>
</div>
