<div class="max-w-md mx-auto card">
  <h2 class="text-xl font-semibold mb-4 text-center">
    Forgot Password
  </h2>

  <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-4">

    <input
      type="email"
      placeholder="Enter your email"
      formControlName="email"
      class="input"
    />

    <button type="submit" class="btn-primary w-full">
      Send Reset Link
    </button>
  </form>

  <p class="text-sm text-center mt-4">
    <a routerLink="/auth/login" class="text-primary">
      Back to Login
    </a>
  </p>
</div>
