<div class="min-h-screen bg-slate-950 text-white flex flex-col items-center justify-center text-center px-6">
  <h1 class="text-4xl font-bold mb-4">
    Welcome to <span class="text-primary">CodingClash</span> 🚀
  </h1>

  <p class="text-slate-400 max-w-xl mb-8">
    Skill-based coding contests.  
    Win prizes. No gambling.
  </p>

  <div class="flex gap-4">
    <a routerLink="/auth/register"
       class="bg-primary px-6 py-2 rounded-lg">
      Get Started
    </a>

    <a routerLink="/auth/login"
       class="border border-slate-600 px-6 py-2 rounded-lg">
      Login
    </a>
  </div>
</div>
